<html>
<head>
<meta charset="UTF-8">
<title>Create-ticket</title>
</head>
<body>
	<form th:action="@{/ticket/edit}" method ="post">
		<div>
			<label>ID:</label>
			<input readonly type="number" name="id" th:value="${ticket.id}"/>
		</div>
		
		<div>
			<label>client Name:</label>
			<input  type="text" name="clientName" th:value="${ticket.clientName}"/>
		</div>
		
		<div>
			<label>client Phone:</label>
			<input type="text" name="clientPhone" th:value="${ticket.clientPhone}"/>
		</div>
		
		<div>
			<label>Content:</label>
			<input type="text" name="content" th:value="${ticket.content}"/>
		</div>
		
		<div>
			<label>Status</label>
			<input type="checkbox" name="status" th:checked="${ticket.status}" />
		</div>
		
		<div>
			<label>Department</label>
			<select name="department.id">
				<option th:each="d : ${departmentList}" th:value="${d.id}" 
				th:text="${d.name}" 
				th:selected="${d.id==ticket.department?.id}"></option>
			</select>
		</div>
		<div>
			<label>Process Date:</label>
			<input type="date" name="processDate" th:value="${ticket.processDate}">
		</div>
		
		<button type="submit">Save Edit</button>
	</form>
</body>
</html>